# Настройки для базы данных
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=your_password_here

# Настройки для Django
SECRET_KEY=your_secret_key_here
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1

# Куда подключаться к БД
DB_HOST=db
DB_PORT=5432